body{
  margin: auto;

}
/*haut de la page nom, prénom, statut*/
header{
text-align: center;
background-color:rgba(221, 7, 7, 0.79);
background-size: cover;
font-family: 'Indie Flower', cursive;
color: white;
}
/*image avatar*/
#avatar{
display: block;
margin: auto;
width:200px;
margin-top:4px;
border-radius: 100%
}
/*lien de navigation des pages*/
nav{
text-align: center;
  height: 40px;
  width: 100%;
  padding-top:10px;
background-color:#4169E1;
}

p{
  text-align: center;
  font-family: 'Playfair Display', serif;

}
/*tableau des contacts*/
td{
  font-family: 'Playfair Display', serif;
  color: blue
}
/*couleur contact*/
td:hover{
  color: #8B0000

}

/*logo twitter bas de page*/
#twitter{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 400px;
}




/*les titres*/
h5{
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
  padding-top: 100px;
}
h1
{
padding-top:28px;
  margin-top: :0px;
  text-decoration: underline;

}
h3
{
  padding-top: :28px;
  margin-top: :0px;
  text-align: center;
  text-decoration: underline;
  padding-top: 5px;

}
/*menu de navigation*/
/*nav {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}
nav a:hover{
  color: #000080
}*/
/*message d'acceuil js*/
#message{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  z-index: 3;
}
#boutonModal{
  margin-left: 45%;
  margin-top: 10%;
  background-color:rgb(42, 138, 135);
}
